## log files ##
**/log.html
**/log.log
**/output.xml
**/report.html
**/selenium-screenshot-*

## etc ##
*.pyc
__pycache__/
generate/
.Python
.vscode/
.idea/
**/.users.robot
stderr.txt
stdout.txt
.history

## pabot output log
.pabotsuitenames
precondition.robot

## DS_Store
.DS_Store