## log files ##
**/log.html
**/log.log
**/output.xml
**/report.html

## etc ##
*.pyc
__pycache__/
selenium-screenshot-*
*selenium-screenshot-*
generate/
.Python
.vscode/
.idea/
config/*/.user.robot
stderr.txt
stdout.txt
.history

## pabot output log
.pabotsuitenames
precondition.robot

## DS_Store
.DS_Store